<div class="row">
	<div class="container">
		<h2 id="backend">Backend</h2>
		<div class="m-3">
			<p class="fw-bold">Librairies & Code Ready to Use</p>
			<p>Select the ones you need for this project</p>
		</div>
		<div class="m-3">
			<div class="form-check">
				<input
					class="form-check-input option"
					type="checkbox"
					name="addExpress"
					id="addExpress"
					value="addExpress"
				/>
				<label class="form-check-label" for="addExpress">Express</label>
			</div>
			<div class="form-check">
				<input
					class="form-check-input option"
					type="checkbox"
					name="addAuth"
					id="addAuth"
					value="addAuth"
				/>
				<label class="form-check-label" for="addAuth">Auth API</label>
			</div>
			<div class="form-check form-check-inline">
				<input
					class="form-check-input option"
					type="radio"
					name="addDb"
					id="addMongoose"
					value="addMongoose"
				/>
				<label class="form-check-label" for="addMongoose">Mongoose</label>
			</div>
			<div class="form-check form-check-inline">
				<input
					class="form-check-input option"
					type="radio"
					name="addDb"
					id="addPostgreSql"
					value="addPostgreSql"
					disabled
				/>
				<label class="form-check-label" for="addPostgreSql">PostgreSQL</label>
			</div>
		</div>
		<hr class="my-5" />
	</div>
</div>
