<div class="row">
	<div class="col-md-12">
		<h2 id="frontend">Frontend Section</h2>

		<div class="form-check">
			<input
				class="form-check-input option"
				type="radio"
				name="setupFronted"
				id="reactjs"
				value="reactjs"
				checked
			/>
			<label class="form-check-label" for="reactjs"> ReactJS </label>
		</div>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="radio"
				name="setupFronted"
				id="angular"
				value="angular"
			/>
			<label class="form-check-label" for="angular"> Angular </label>
		</div>
		<hr class="my-5" />
	</div>
</div>
