<div class="row">
	<div class="container">
		<h2 id="frontend">Frontend</h2>
		<div class="m-3">
			<div class="m-3">
				<p>Select a Frontend framework</p>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input option"
						type="radio"
						name="selectFrontend"
						id="reactjs"
						value="reactjs"
						checked
					/>
					<label class="form-check-label" for="reactjs"> ReactJS </label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input option"
						type="radio"
						name="selectFrontend"
						id="noFrontend"
						value="noFrontend"
					/>
					<label class="form-check-label" for="noFrontend"> No FrontEnd </label>
				</div>
			</div>
			<div class="m-3">
				<p>Select a CSS framework</p>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input option"
						type="radio"
						name="selectCSS"
						id="tailwind"
						value="tailwind"
						checked
					/>
					<label class="form-check-label" for="reactjs"> Tailwind CSS </label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input option"
						type="radio"
						name="selectCSS"
						id="bootstrap"
						value="bootstrap"
					/>
					<label class="form-check-label" for="noFrontend"> Bootstrap </label>
				</div>
			</div>
			<hr class="my-5" />
		</div>
	</div>
</div>
