<div class="row">
	<div class="container">
		<h2 id="setup">Setup Project</h2>
		<div class="m-3">
			<p class="fw-bold">Project Infos</p>
			<div>
				<label class="m-3 form-label" for="projectName">Project Name</label>
				<input
					class="form-control option"
					type="text"
					id="projectName"
					name="projectName"
					size="15"
					value="generated-by-me"
				/>
			</div>
			<div>
				<label class="m-3 form-label" for="initialVersion"
					>Initial Version</label
				>
				<input
					class="form-control option"
					type="text"
					id="initialVersion"
					name="initialVersion"
					size="15"
					placeholder="0.1.0"
				/>
			</div>
			<div>
				<label class="m-3 form-label" for="projectAuthor">Author Name</label>
				<input
					class="form-control option"
					type="text"
					id="projectAuthor"
					name="projectAuthor"
					size="15"
					placeholder="Me"
				/>
			</div>
			<div>
				<label class="m-3 form-label" for="authorEmail">Author Email</label>
				<input
					class="form-control option"
					type="email"
					id="authorEmail"
					name="authorEmail"
					size="15"
					placeholder="info@mail.com"
				/>
			</div>
			<div>
				<label class="m-3 form-label" for="projectDescription"
					>Description</label
				>
				<input
					class="form-control option"
					type="text"
					id="projectDescription"
					name="projectDescription"
					size="15"
					placeholder="description"
				/>
			</div>
		</div>
		<div class="m-3">
			<p class="fw-bold">Select Modules</p>
			<p>This will change the type option in package-json</p>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="radio"
					name="selectModule"
					id="esmodule"
					value="esmodule"
					checked
				/>
				<label class="form-check-label" for="esmodule">ES Modules </label>
			</div>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="radio"
					name="selectModule"
					id="commonjs"
					value="commonjs"
					disabled
				/>
				<label class="form-check-label" for="commonjs">CommonJS</label>
			</div>
		</div>
		<div class="m-3">
			<p class="fw-bold">Language</p>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="radio"
					name="selectLanguage"
					id="javascript"
					value="javascript"
					checked
				/>
				<label class="form-check-label" for="javascript"> JavaScript </label>
			</div>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="radio"
					name="selectLanguage"
					id="typescript"
					value="typescript"
					disabled
				/>
				<label class="form-check-label" for="typescript">Typescript</label>
			</div>
		</div>
		<div class="m-3">
			<p class="fw-bold">Private</p>
			<div class="m-3 form-check">
				<input
					class="form-check-input option"
					type="checkbox"
					name="setPrivate"
					id="setPrivate"
					value="setPrivate"
					checked
				/>
				<label class="form-check-label" for="setPrivate"
					>Private (set "private":true in package.json)</label
				>
			</div>
		</div>
		<div class="m-3">
			<p class="fw-bold">Folder Structure</p>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="checkbox"
					name="setSrc"
					id="setSrc"
					value="setSrc"
				/>
				<label class="form-check-label" for="setSrc">/src</label>
			</div>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="checkbox"
					name="setDist"
					id="setDist"
					value="setDist"
				/>
				<label class="form-check-label" for="setDist">/dist & /build</label>
			</div>
			<div class="m-3 form-check form-check-inline">
				<input
					class="form-check-input option"
					type="checkbox"
					name="setPublic"
					id="setPublic"
					value="setPublic"
				/>
				<label class="form-check-label" for="setPublic">/public</label>
			</div>
		</div>
		<hr class="my-5" />
	</div>
</div>
