<div class="row">
	<div class="col-md-12">
		<h2 id="setup">Setup Project Section</h2>
		<div>
			<h3>Project Infos</h3>
			<div>
				<label for="name">Project Name</label>
				<input
					class="option"
					type="text"
					id="projectName"
					name="projectName"
					size="15"
				/>
			</div>
			<div>
				<label for="name">Author Name</label>
				<input
					class="option"
					type="text"
					id="projectAuthor"
					name="projectAuthor"
					size="15"
				/>
			</div>
			<div>
				<label for="name">Author Email</label>
				<input
					class="option"
					type="email"
					id="authorEmail"
					name="authorEmail"
					size="15"
				/>
			</div>
		</div>
		<h3>Module</h3>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="radio"
				name="selectModule"
				id="esmodule"
				value="esmodule"
				checked
			/>
			<label class="form-check-label" for="esmodule"> ES Modules </label>
		</div>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="radio"
				name="selectModule"
				id="commonjs"
				value="commonjs"
			/>
			<label class="form-check-label" for="commonjs">CommonJS Modules</label>
		</div>
		<h3>Language</h3>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="radio"
				name="selectLanguage"
				id="typescript"
				value="typescript"
			/>
			<label class="form-check-label" for="typescript">Typescript</label>
		</div>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="radio"
				name="selectLanguage"
				id="javascript"
				value="javascript"
				checked
			/>
			<label class="form-check-label" for="javascript"> JavaScript </label>
		</div>
	</div>
	<hr class="my-5" />
</div>
