<div class="row">
	<div class="container">
		<h2 id="backend">Tools</h2>
		<div class="m-3">
			<p class="fw-bold">Additional Stuffs needed for your boilerplate</p>
			<p>
				Tool section where you can finetuning your devtools or other options
			</p>

			<div class="m-3">
				<div class="form-check">
					<input
						class="form-check-input option"
						type="checkbox"
						name="addNodemon"
						id="addNodemon"
						value="addNodemon"
					/>
					<label class="form-check-label" for="addNodemon"
						>Nodemon (only without frontend)</label
					>
				</div>
				<div class="form-check">
					<input
						class="form-check-input option"
						type="checkbox"
						name="addReactRouter"
						id="addReactRouter"
						value="addReactRouter"
					/>
					<label class="form-check-label" for="addReactRouter"
						>React Router</label
					>
				</div>
				<div class="form-check">
					<input
						class="form-check-input option"
						type="checkbox"
						name="addDotEnv"
						id="addDotEnv"
						value="addDotEnv"
						checked
					/>
					<label class="form-check-label" for="addDotEnv">DotEnv</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input option"
						type="checkbox"
						name="initGit"
						id="initGit"
						value="initGit"
						checked
					/>
					<label class="form-check-label" for="initGit">Init GIT</label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input option"
						type="checkbox"
						name="addJQuery"
						id="localJQuery"
						value="localJQuery"
					/>
					<label class="form-check-label" for="localJQuery">local JQuery</label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input option"
						type="checkbox"
						name="addJQuery"
						id="cdnJQuery"
						value="cdnJQuery"
					/>
					<label class="form-check-label" for="cdnJQuery"
						>CDN JQuery (N/A)</label
					>
				</div>
			</div>
		</div>
		<hr class="my-5" />
	</div>
</div>
