<div class="row">
	<div class="col-md-12">
		<h2 id="backend">Tools Section</h2>
		<p>
			This is the Tool section where you can finetuning your devtools or other
			options
		</p>
		<h3>Nodemon</h3>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="checkbox"
				name="selectNodemon"
				id="selectNodemon"
				value="selectNodemon"
			/>
			<label class="form-check-label" for="selectNodemon">Add Nodemon</label>
		</div>
		<div class="form-check">
			<input
				class="form-check-input option"
				type="checkbox"
				name="selectNodemonIgnoreFile"
				id="selectNodemonIgnoreFile"
				value="selectNodemonIgnoreFile"
			/>
			<label class="form-check-label" for="selectNodemonIgnoreFile"
				>Add ignorefile</label
			>
		</div>
	</div>
	<hr class="my-5" />
</div>
