<div class="row">
	<div class="container">
		<h2 id="backend">Tools</h2>
		<div class="m-3">
			<p class="fw-bold">Additional Stuffs needed for your boilerplate</p>
			<p>
				Tool section where you can finetuning your devtools or other options
			</p>
		</div>
		<div class="m-3">
			<div class="form-check">
				<input
					class="form-check-input option"
					type="checkbox"
					name="addNodemon"
					id="addNodemon"
					value="addNodemon"
				/>
				<label class="form-check-label" for="addNodemon"
					>Nodemon (only without frontend)</label
				>
			</div>
		</div>
		<hr class="my-5" />
	</div>
</div>
